body {
    /*para el footer fijo*/
    @extend %estiloflex;
    flex-direction: column;
    min-height: 100vh;
    header {
        @include encabezado;
        h1 {
            @include h1;
        }
        nav{
            div{
                button{
                    span {
                        margin: 0 5px 0 15px;
                    }
                }
            }
        }
    }
    main {
        @extend %estiloflex;
        flex-wrap: wrap;
        margin: 5px;
        padding-top: 100px;
        justify-content: space-around;
    }
    footer {
        h2 {
            @include h2;
        }
        /*para el footer fijo*/
        margin-top: auto;
    }
}
.navbar-toggler {
    color: $color-paleta-uno;
}
.navbar-collapse {
    text-align: center;
}
.formato-menu {
    background-color: $color-fondo;
}
.formato-botones {
    padding: 0;
    font-family: 'Dancing Script', cursive;
    color: $color-paleta-uno;
    text-shadow: 3px 3px 3px $color-text-shadow;
    background-color: $color-fondo;
    font-size: 22px;
}
.detalle-texto {
    display: block;
    text-align: justify;
    width: 900px;
    font-family: 'Dancing Script', cursive;
    color: $color-fondo;
    text-shadow: 3px 7px 10px $color-fondo;
    font-size: 1.25rem;
}
@media screen and (max-width:991.98px) {
    /*letras guns and roses del header*/
    body {
        header {
            h1 {
                font-size: 35px;
            }
        }
    }
    .formato-botones {
        font-size: 1rem;
    }
    body {
        main {
            div {
                p {
                    img {
                        width: min-content;
                    }
                }
            }
        }
    }
    .detalle-texto {
        padding: 0 30px;
        font-size: 15px;
        width: max-content;
    }
}
