$color-fondo:#230b00;
$color-paleta-uno:#d4cfa5;
$color-text-shadow:#f8ecd4;
$color-formback:#eae3d1;
$color-formfocus: #78788c;
$color-formshadow:#000;
$color-formhover:#e6e6e6;
$color-buttonform:#5a5a6e;